body{
    color: white;
}


#mastheadDescription{
    position: relative;
    top: 40%;
    /* color: red; */
}

@media only screen and (min-width: 750px){
    .product-card{
        background-color: #1313138a !important;
        text-decoration: none !important;
        width: 18rem !important;
        margin: 0.4rem;
        text-align: left !important;
        display: inline-block !important;
    }
    .list-productSide{
        height: 220px;
    }
    h1{
        font-size: 7rem !important;
    }
}

@media only screen and (max-width: 749px){
    .product-card{
        background-color: #1313138a !important;
        text-decoration: none !important;
        width: 23rem !important;
        margin: 0.4rem;
        text-align: left !important;
        display: inline-block !important;
    }
    .list-productSide{
        height: 220px;
    }
    h1{
        font-size: 5rem !important;
    }
}



.product-card:hover{
    background-color: #555;
}

.list-group-item{
    color: white !important;
    background-color: transparent !important;
    border-color: rgb(205, 205, 205) !important;
}

.list-group{
    background-color: transparent !important;
    border-color: rgb(205, 205, 205) !important;
}

.sort-badge{
    font-weight: normal !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.logo-img{
    width: 13% !important;
}

.productName{
    font-weight: bold !important;
    font-size: 1.6rem !important;
}

.productPreview{
    color: rgb(200, 200, 200) !important;
}

.benefitPreview{
    color: white !important;
}

.modal-content{
    margin: 10px;
}

.btn-product{
    text-decoration: none;
    font-size: 0.9rem;
    background-color: transparent !important;
    color: rgb(199, 0, 199) !important;
    border-color: rgb(199, 0, 199) !important;
    padding: 4px 10px;
    border-radius: 16px;
}

.makerlogLink{
    text-decoration: none !important;
}

.makerlog-content{
    margin-left: 2rem;
}

.makerlogTitle{
    color: white !important;
}
.makerlogPreviewText{
    color: #999 !important;
}
.modal-subtitle-2{
    color: rgb(199, 0, 199);
    font-size: 0.9rem;
    margin-top: -3px;
    margin-bottom: 8px;
}

.btn-m-1{
    background-color: transparent !important;
    border-color: #F0EEFF !important;
    color: white !important;
}

.btn-m-2{
    text-decoration: none !important;
}

.btn-m-2:hover{
    background-color: rgb(199, 0, 199) !important;
    border-color: rgb(199, 0, 199) !important;
}

.profileImg{
    border-radius: 100px;
    width: 2.8rem;
    height: 2.8rem;
}

.maker-description{
    --bs-gutter-x: 1rem !important;
    display: flex !important;
    background-color: #222;
    margin: 0.2rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    width: max-content !important;
}
.profileRole{
    color: rgb(205, 205, 205) !important;
}
.profileName{
    color: white !important;
}
.maker-button{
    text-decoration: none !important;
}


.modal-content{
    background-color: #131313 !important;
    border-color: white;
    box-shadow: 6px 6px 8px rgba(128, 0, 128, 0.8);
    width: 800px !important;
    max-width: none !important;
}

.modal-header{
    justify-content: unset !important;
}