body{
    color: white;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.500) !important;
    /* background-color: #111; */
}


#mastheadDescription{
    position: relative;
    top: 40%;
    /* color: red; */
}

.form-select{
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    width: 100px !important;
    position: static !important;
    /* right: 0; */
    margin-right: 0.6rem;
    display: inline !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}
.form-select:focus {
    box-shadow: none !important;
}

@media only screen and (min-width: 750px){
    .product-card{
        /* margin: auto !important; */
        background-color: #1313138a !important;
        text-decoration: none !important;
        width: 19rem !important;
        margin: 0.6rem;
        text-align: left !important;
        display: inline-block !important;
    }
    .list-productSide{
        height: 220px;
    }
    h1{
        font-size: 7rem !important;
    }
    
    @media only screen and (max-width: 991px){
        h4{
            font-size: 1rem !important;
        }
    }
    @media only screen and (max-width: 1199px){
        h4{
            font-size: 1rem !important;
        }
        }

}

@media only screen and (max-width: 749px){
    .product-card{
        /* margin: auto !important; */
        background-color: #1313138a !important;
        text-decoration: none !important;
        width: 21rem !important; 
        margin: 0.6rem;
        text-align: left !important;
        display: inline-block !important;
    }
    .list-productSide{
        height: 220px;
    }
    h1{
        font-size: 5rem !important;
    }
    h4{
        font-size: 1rem;
    }
}



.product-card:hover{
    background-color: #555;
}

.list-group-item{
    color: white !important;
    background-color: transparent !important;
    border-color: rgb(205, 205, 205) !important;
}

.list-group{
    background-color: transparent !important;
    border-color: rgb(205, 205, 205) !important;
}

.sort-badge{
    font-weight: normal !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.logo-img{
    width: 13% !important;
}

.productName{
    font-weight: bold !important;
    font-size: 1.6rem !important;
}

.productPreview{
    color: rgb(200, 200, 200) !important;
}

.benefitPreview{
    color: white !important;
}

.modal-content{
    margin: 10px;
}

.btn-product{
    text-decoration: none;
    font-size: 0.9rem;
    background-color: transparent !important;
    color: rgb(232, 39, 232) !important;
    border-color: rgb(232, 39, 232) !important;
    padding: 4px 10px;
    border-radius: 16px;
}

.makerlogLink{
    text-decoration: none !important;
}

.makerlog-content{
    margin-left: 2rem;
}

.makerlogTitle{
    color: white !important;
}
.makerlogPreviewText{
    color: #999 !important;
}
.modal-subtitle-2{
    color: rgb(232, 39, 232);
    font-size: 0.9rem;
    margin-top: -3px;
    margin-bottom: 8px;
}

.btn-m-1{
    background-color: transparent !important;
    border-color: #F0EEFF !important;
    color: white !important;
}

.btn-m-2{
    text-decoration: none !important;
}

.btn-m-2:hover{
    background-color: rgb(232, 39, 232) !important;
    border-color: rgb(232, 39, 232) !important;
}

.profileImg{
    border-radius: 100px;
    width: 2.8rem;
    height: 2.8rem;
}

.maker-description{
    --bs-gutter-x: 1rem !important;
    display: flex !important;
    background-color: #222;
    margin: 0.2rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    width: max-content !important;
}
.profileRole{
    color: rgb(205, 205, 205) !important;
}
.profileName{
    color: white !important;
}
.maker-button{
    text-decoration: none !important;
}


.modal-content{
    background-color: #131313 !important;
    border-color: white;
    box-shadow: 6px 6px 8px rgba(128, 0, 128, 0.8);
    width: 800px !important;
    max-width: none !important;
}

.modal-header{
    justify-content: unset !important;
}